{% extends "base.html" %}
{% load static %}

{% block title %}Информация по категориям{% endblock %}

{% block main_content %}
  <h1>Категории и числа</h1>
  <ul>
  {% for cat in categories %}
    <li><span class="badge badge-info">{{ cat.name }}: {{ cat.todos_count }}</span></li>
  {% empty %}
    <li>Список задач по категориям пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
    <br><br>
      <h1>Приоритеты и числа</h1>
  <ul>
  {% for pri in priorities %}
    <li><span class="badge badge-info">{{ pri.name }}: {{ pri.todos_count }}</span></li>
  {% empty %}
    <li>Список приоритетов пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
{% endblock %}
